<div *ngIf="rol == 'admin'">
  <table class="table table-hover table-dark ">
    <thead class="thead-dark">
      <th>ID</th>
      <th>Categoria</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Modificar</th>
      <th>Eliminar</th>
    </thead>
    <tbody>
      <tr ng-form *ngFor="let habitacion of habitaciones">
        <td id="cb2"><input type="number" name="id" [(ngModel)]="habitacion.idH" disabled id="inputID"></td>
        <!-- <td><input type="text" name="categoria" [(ngModel)]="habitacion.categoria"></td> -->
        <td id="CB">
          <select name="selector" [(ngModel)]="habitacion.categoria">
            <option name="opcion1">Basica</option>
            <option name="opcion2">Estandar</option>
            <option name="opcion3">Premium</option>
          </select>
        </td>
        <td id="cb2"><input type="text" name="descripcion" [(ngModel)]="habitacion.descripcion" id="inputDesc"></td>
        <td id="cb2"><input type="number" name="precio" [(ngModel)]="habitacion.precio"></td>
        <td id="btn"><button class="btn btn-outline-warning" (click)=modificarYverificar(habitacion)
            id="btnMod">Modificar</button>
        </td>
        <td id="btn"><a class="btn btn-outline-danger" (click)=eliminar(habitacion) id="btnEli">Eliminar</a></td>
      </tr>
    </tbody>
  </table>



  <div ng-form class="container-fluid alert-info">
    <BR>
    <div class="">
      <label id="lab1">Categoria:</label>
      <select id="CBCat" name="selector" [(ngModel)]="nuevaHab.categoria">
        <option name="categoria1">Basica</option>
        <option name="categoria2">Estandar</option>
        <option name="categoria3">Premium</option>
      </select>
      <!-- <input type="text" name="Categoria" [(ngModel)]="nuevaHab.categoria" placeholder="Ingrese una categoria" required
        (focus)="limpiarCategoria()"> -->
      <div id="DivHab" [ngSwitch]="errorCategoria">
        <div class="DivError" *ngSwitchCase="1"> Campo vacio</div>
        <div class="DivError" *ngSwitchCase="2"> Excedió el limite maximo de numeros</div>
      </div>
    </div>
    <br>
    <div class="">
      <label id="lab2">Descripcion:</label>
      <input type="text" name="descripcion" [(ngModel)]="nuevaHab.descripcion" placeholder="Ingrese una descripcion"
        required (focus)="limpiarDescripcion()">
      <div id="DivHab" [ngSwitch]="errorDescripcion">
        <div class="DivError" *ngSwitchCase="1"> Campo vacio</div>
        <div class="DivError" *ngSwitchCase="2"> Excedió el limite maximo de numeros</div>
      </div>
    </div>
    <br>
    <div>
      <label id="lab3">Precio: </label>
      <input type="number" name="precio" [(ngModel)]="nuevaHab.precio" placeholder="Ingrese un precio" required
        (focus)="limpiarPrecio()">
    </div>
    <div id="DivHab" [ngSwitch]="errorPrecio">
      <div class="DivError" *ngSwitchCase="1"> Campo vacio</div>
      <div class="DivError" *ngSwitchCase="2"> El precio no puede ser 0</div>
      <div class="DivError" *ngSwitchCase="3"> Precio invalido, un precio no puede ser negativo</div>
    </div>
    <br>
    <div id="divAg"><button id="btAg" class="btn btn-outline-secondary" style="width: 100px;"
        (click)=agregarYverificar() id="btnAgregar">Agregar</button>
    </div>
    <BR>
  </div>
</div>




<div *ngIf="rol == 'user'">
  <table class="table table-hover table-light center">
    <thead class="thead-dark">
      <th>ID</th>
      <th>Categoria</th>
      <th>Descripcion</th>
      <th>Precio</th>
    </thead>
    <tbody>
      <tr ng-form *ngFor="let habitacion of habitaciones">
        <td>{{habitacion.idH}}</td>
        <td>{{habitacion.categoria}}</td>
        <td>{{habitacion.descripcion}}</td>
        <td>{{habitacion.precio}}</td>
      </tr>
    </tbody>
  </table>
</div>
