<div *ngIf="rol == 'admin'">
  <table class="table table-hover table-dark ">
    <thead class="thead-dark">
      <th>ID</th>
      <th>Categoria</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Modificar</th>
      <th>Eliminar</th>
    </thead>
    <tbody>
      <tr ng-form *ngFor="let habitacion of habitaciones">
        <td><input type="number" name="id" [(ngModel)]="habitacion.idH" disabled></td>
        <!-- <td><input type="text" name="categoria" [(ngModel)]="habitacion.categoria"></td> -->
        <td>
          <select name="categoria" [(ngModel)]="habitacion.categoria">
            <option name="categoria" [(ngModel)]="habitacion.categoria">Basica</option>
            <option name="categoria" [(ngModel)]="habitacion.categoria">Estandar</option>
            <option name="categoria" [(ngModel)]="habitacion.categoria">Premium</option>
          </select>
        </td>
        <td><input type="text" name="descripcion" [(ngModel)]="habitacion.descripcion" id="inputDesc"></td>
        <td><input type="number" name="precio" [(ngModel)]="habitacion.precio"></td>
        <td><button class="btn btn-xs btn-primary" (click)=modificarYverificar(habitacion)>Modificar</button></td>
        <td><a class="btn btn-danger" (click)=eliminar(habitacion)>Eliminar</a></td>
      </tr>
    </tbody>
  </table>



  <div ng-form class="container-fluid alert-info">
    <BR>
    <div class="">
      <p>Categoria: </p>
      <input type="text" name="Categoria" [(ngModel)]="nuevaHab.categoria" placeholder="Ingrese una categoria" required
        (focus)="limpiarCategoria()">
      <div id="DivHab" [ngSwitch]="errorCategoria">
        <div class="DivError" *ngSwitchCase="1"> Campo vacio</div>
        <div class="DivError" *ngSwitchCase="2"> Excedió el limite maximo de numeros</div>
      </div>
    </div>
    <div class="">
      <p>Descripcion: </p>
      <input type="text" name="descripcion" [(ngModel)]="nuevaHab.descripcion" placeholder="Ingrese una descripcion"
        required (focus)="limpiarDescripcion()">
      <div id="DivHab" [ngSwitch]="errorDescripcion">
        <div class="DivError" *ngSwitchCase="1"> Campo vacio</div>
        <div class="DivError" *ngSwitchCase="2"> Excedió el limite maximo de numeros</div>
      </div>
    </div>
    <div>
      <p>Precio: </p>
      <input type="number" name="precio" [(ngModel)]="nuevaHab.precio" placeholder="Ingrese un precio" required
        (focus)="limpiarPrecio()">
    </div>
    <div id="DivHab" [ngSwitch]="errorPrecio">
      <div class="DivError" *ngSwitchCase="1"> Campo vacio</div>
      <div class="DivError" *ngSwitchCase="2"> El precio no puede ser 0</div>
      <div class="DivError" *ngSwitchCase="3"> Precio invalido, un precio no puede ser negativo</div>
    </div>
    <br>
    <div id="divAg"><button id="btAg" class="btn btn-outline-secondary" style="width: 100px;"
        (click)=agregarYverificar() id="btnAgregar">Agregar</button>
    </div>
    <BR>
  </div>
</div>




<div *ngIf="rol == 'user'">
  <table class="table table-hover table-light center">
    <thead class="thead-dark">
      <th>ID</th>
      <th>Categoria</th>
      <th>Descripcion</th>
      <th>Precio</th>
    </thead>
    <tbody>
      <tr ng-form *ngFor="let habitacion of habitaciones">
        <td>{{habitacion.idH}}</td>
        <td>{{habitacion.categoria}}</td>
        <td>{{habitacion.descripcion}}</td>
        <td>{{habitacion.precio}}</td>
      </tr>
    </tbody>
  </table>
</div>
