/* You can add global styles to this file, and also import other style files */
.DivError {
  background-color: rgb(248, 100, 100);
  font-family: Verdana;
  font-weight: bolder;
  font-size: small;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.712);
  margin-bottom: 0%;
}